{% for place in places|sort(attribute='name') %}
    <article>
        <div class="headline">
            <h2>{{ place.name }}</h2>
            <div class="price_by_night">${{- place.price_by_night -}}</div>
        </div>
        <div class="information">
            <div class="max_guest">
                <div class="guest_icon"></div>
                <p>{{- place.max_guest -}} Guests</p>
            </div>
            <div class="number_rooms">
                <div class="bed_icon"></div>
                <p>{{- place.number_rooms -}} Bedroom</p>
            </div>
             <div class="number_bathrooms">
                <div class="bath_icon"></div>
                <p>{{- place.number_bathrooms -}} Bathroom</p>
            </div>
        </div>
        <div class="user"><b>Owner</b>: {% for user in users%}
                                            {% if user.id == place.user_id %}
                                                {{- user.name -}}
                                            {% endif %}
                                        {% endfor %}
        </div>
        <div class="description">
            {{ place.description}}
        </div>
    </article>
{% endfor%}